<h1>Stock Viewer</h1>
<div class="details">symbol: {{symbol}} {{date}}</div>
<div class="details">price: {{price}}</div>
<div><button class="btn-history">Previous 5 Days</button></div>
<div class="history"></div>